<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <header>
            <a class="no_style" href="/" text="Home"><h1>{{ site.name }}</h1></a>
            <a class="no_style" href="/" text="Home"><h3>{{ site.tagline }}</h3></a>
        </header>
        {{ content }}
    </body>
    {% if layout.js_includes %}
        {% for js_file in layout.js_includes %}
            <script type='text/javascript' src='{{js_file}}'></script>
        {% endfor %}
    {% endif %}
</html>
