---
layout: default
js_includes:
    - https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js
    - /assets/js/time.js
---

<div class="container">
    <div class="post_nav" markdown="1">
    {{ "You can jump back [Home](/), or to the [Blog](/#blog), [Open Source](/#open-source) or [Research](/#research) sections." | markdownify | remove: '<p>' | remove: '</p>' }}
    </div>
    <section>
      <div id="post-header">
          <h2 class="post-title">{{ page.title }}</h2>
          <time datetime="{{ page.date | date_to_xmlschema  }}" class="page-date">
              {% assign d = page.date | date: "%-d" %}
              {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
              {{ page.date | date: "%B" }}
              {{ page.date | date: "%Y" }}
          </time>
      </div>
      <div id="post-contents">
          {{ content }}
      </div>
    </section>
</div>
